.container{
    width: 500px;
    height: 400px;
    margin: auto;
   // background-color: brown;
    padding-left: 100px;
    padding-top: 50px;
}

.input{
   background-color: transparent;
    border:0;
    border-bottom: 2px solid black;
}
.input:focus{
border: 0;
 background-color: transparent;
 border-top: 2px solid transparent;
border-bottom: 2px solid chartreuse;
}

.input-cb{
   width: 50px;
}

.input-des{
    height: 50px;
    width: 300px;
}

.input-cant{
    width: 30px;
}



.input-precio{
    width: 40px;
}

.button{
    margin-left: 200px;
    height: 30px;
    width: 100px;
    background-color: #2ecc71;
   // border:2px solid black;
    border-radius: 7px;
    color:white;
    font-size: 1em;
}

.button:hover{
    margin-left: 200px;
    height: 30px;
    width: 100px;
    background-color: #27ae60;
    //border:2px solid black;
    font-weight: bold;
}

